*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:hotpink;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
}

#title{
    font-size:  3rem;
    text-align: center;
}
#description{
    margin: 20px auto;
    font-size: 1.2rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    padding:30px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    max-width: 700px;
    color: #222;
    background-color: rgba(255, 255, 255, 0.7);
}

.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 0;

}

label{
    font-size: 1.2rem;
    
    margin-bottom: 10px;
}

.form-group p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

input{
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

select{
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#submit{
    color: black;
    background-color: rgb(5, 219, 98);
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

#submit:hover{
    color: black;
    background-color: rgb(249, 251, 249)
}
